extends layout 

block landing 
div(id="landing_header", class="title") Welcome to DilutionScout
div(id="landing_description", class=["text_content", "body1"])
    p(id="landing_text", class="text_content")