- var navbarItemsFix = [{id: "homePageButton", href: "/landing", text: "Home"}]
- var navbarItemsNotAuthenticated = [{id: "loginPageButton", href: "/login", text: "Login"}, {id: "registerPageButton", href: "/register", text: "Register new User"}]
- var navbarItemsAuthenticated = [{id: "userPageButton", href: "/user", text: "user"}, {id: "logoutPageButton", href: "/logout", text: "logout"}, {id: "settingsButton", href: "/userSettings", text: "User Settings"}]

mixin navbarItem(id, href, text)
  a(class="navbarItem" id=id href=href) #{text}

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
  body
    block navbar
      ul(class="mainNavBar")
        each val in navbarItemsFix ? navbarItemsFix : []
          li: +navbarItem(val.id, val.href, val.text)

        if (!isAuthenticated)
          each val in navbarItemsNotAuthenticated ? navbarItemsNotAuthenticated : []
            li: +navbarItem(val.id, val.href, val.text)

        else if (isAuthenticated)
          each val in navbarItemsAuthenticated ? navbarItemsAuthenticated : []
            li: +navbarItem(val.id, val.href, val.text)



    block content

