extends layout


block content
  div#login
    div.belowNavbarWrapper
      .loginWrapper
        .loginBox
          form(id="userPasswordLogin", action="/login/authenticatePasswordUser", method="post")
            .fieldContainer
              label(for="userEmail")
              input(id="userEmail", name="userEmail", type="email", placeholder="Email Address", required)
              span
            .fieldContainer
              label(for="userPassword")
              input(id="userPassword", name="userPassword", type="password", placeholder="Password", required)
            .fieldContainer
              input(id="passwordSubmit", type="submit", value="Login")

            .fieldContainer
              a.socialLogin(id="googleLogin", href="login/federated/google")



