extends layout


block content
  h1= title
  form(id="userPasswordLogin", action="/login/authenticatePasswordUser", method="post")
    label(for="userEmail") Email:
    input(id="userEmail", name="userEmail", type="email")
    label(for="userPassword") Password:
    input(id="userPassword", name="userPassword", type="password")
    input(id="passwordSubmit", type="submit")


  div(id=socialLogins)
    ul(id="socialLoginList")
      li: a(id="googleLogin", href="login/federated/google") Log in with Google




