extends layout

var navbarItems = ${navbarItems}

mixin navbarItem(name, link, text)
	li: a(id= name, href= link) text
block navbar
	ul(class=mainNavBar)
		each item in navbarItems
			navbarItem(item.name, item.link, item.text)
