extends layout

block content
    div#registration
        div.belowNavbarWrapper
            .registrationWrapper
                .registrationBox
                    form(id="registrationForm", action="/register", method="post")
                        .fieldContainer
                            label(for="userEmail")
                            input(id="userEmail", name="userEmail", type="email", placeholder="Email Address", required)
                        .fieldContainer
                            label(for="userPassword")
                            input(id="userPassword", name="userPassword", type="password", placeholder="Password", required)
                        .fieldContainer
                            input(id="passwordSubmit", type="submit", value="Register")

                        .fieldContainer
                            a(id="loginRedirect", href="/login") Already a User? Log in instead

    script(src="../public/registrationValidation.js")