extends layout

block content
	div(id="registrationDiv")
		form(id="registrationForm", action="/register", method="post")
			label(for="userEmail") Email:
			input(id="userEmail", name="userEmail", type="email")
			label(for="userPassword") Password:
			input(id="userPassword", name="userPassword", type="password")
			input(id="passwordSubmit", type="submit")

	div(id="registrationRedirectDiv")
		a(id="loginRedirect", href="/login") Already a User? Log in instead

	script(src="../public/registrationValidation.js")